#splash {
    z-index: 99999;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    overflow: hidden;

    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(120, 139, 58);

    background-image: url("../static/img/background.jpg"), url("./static/img/background.jpg");

    color: rgba(255, 255, 255, 1);
}

@media screen and (max-aspect-ratio: 1/1) {
    #splash {
        background-image: url("../static/img/background_tablet.jpg"), url("./static/img/background_tablet.jpg");
    }
}

#sceneContainer {
    height: 100%;
}

#scene {
    height: 100%;
    position: absolute;
}

#about, #howto {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(120, 139, 58, 0.86)
}

#about .content, #howto .content {
    padding-top: 90px;
    margin: 0 auto;
    max-width: 500px;
}

#splash #loading-info #loader-group, #splash #loading-info #not-supported-info {
    position: absolute;
    bottom: 80px;
    width: 100%;
}

#splash #not-supported-info {
    visibility: hidden;
}

#splash #loading-info .content {
    max-width: 500px;

    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

#about .content, #howto .content {
    height: 100%;
    overflow-y: auto;
}

#about .content .description, #howto .content .description {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    color: rgba(206, 217, 163, 1);
    text-align: left;
    line-height: 26px;
}

#about .content .about-head, #howto .content .about-head {
    font-family: 'Lora';
    font-size: 39px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    text-align: left;
}

#about a, #howto a, #not-supported-info a {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-align: left;
}

#about #about-xbutton, #howto #about-xbutton {
    position: absolute;
    top: 49px;
    right: 49px;
    height: 16px;
    width: 16px;
    background-image: url("../static/img/close.svg"), url("./static/img/close.svg");
}

#polidea-info-container {
    margin: 34px 0 0 34px;
    height: 36px;
    width: 94px;
    background-color: rgba(255, 255, 255, 0.8);

    position: absolute;
}

#polidea-info-container .content {
    padding: 7px 0px 0px 7px;
    height: auto;
    width: 81px;
}

#splash #main-container {
    position: relative;
    margin: 48px auto 0 auto;
    max-width: 500px;
    height: 100%;
}

#about-button {
    position: absolute;
    top: 39px;
    right: 39px;
    height: 32px;
    width: 32px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50px;

    display: table;
}

#about-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#about-button .image-container {
    vertical-align: middle;
    display: table-cell;
    padding-top: 5px;
    padding-left: 11px;
}

#main-container #title-group {
    width: 100%;

    font-family: 'Lora';
    color: rgba(255, 255, 255, 1);
    text-align: center;

    padding-top: 60px;
}

#main-container #title-group .title_bold {
    font-size: 67px;
    font-weight: 700;
}

#main-container #title-group .title_regular {
    font-size: 36px;
    margin-top: 12px;
    font-weight: 400;
}

#enter-container, #about-info {
    position: absolute;
    bottom: 80px;
    width: 100%;
}

#enter-container div.center-content {
    margin: 0 auto;
}

#enter-container div.center-content-text {
    margin: 0 auto;
    min-width: 200px;
    max-width: 50%;
}

#enter-container .enter-info {
    padding-top: 24px;
    max-width: 190px;
    margin: 0 auto;

    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    text-decoration: underline;
}

.white-box {
    max-width: 200px;
    margin: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 1);

    font-family: 'Roboto';
    font-size: 24px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.white-box:hover {
    background-color: rgba(255, 255, 255, 0.3);

}

#enter-container #loader-group {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: normal;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

#enter-container #loader-group .description {
    margin-top: 10px;
    overflow: scroll;
}

#enter-container #loader-group #loader {
    margin: 0 auto;
    min-width: 50px;
    max-width: 50px;
}

.cssload-thecube {
    width: 73px;
    height: 73px;
    margin: 0 auto;
    margin-top: 49px;
    position: relative;
    transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}

.cssload-thecube .cssload-cube {
    position: relative;
    transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}

.cssload-thecube .cssload-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.cssload-thecube .cssload-cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    animation: cssload-fold-thecube 2.76s infinite linear both;
    -o-animation: cssload-fold-thecube 2.76s infinite linear both;
    -ms-animation: cssload-fold-thecube 2.76s infinite linear both;
    -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
    -moz-animation: cssload-fold-thecube 2.76s infinite linear both;
    transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
}

.cssload-thecube .cssload-c2 {
    transform: scale(1.1) rotateZ(90deg);
    -o-transform: scale(1.1) rotateZ(90deg);
    -ms-transform: scale(1.1) rotateZ(90deg);
    -webkit-transform: scale(1.1) rotateZ(90deg);
    -moz-transform: scale(1.1) rotateZ(90deg);
}

.cssload-thecube .cssload-c3 {
    transform: scale(1.1) rotateZ(180deg);
    -o-transform: scale(1.1) rotateZ(180deg);
    -ms-transform: scale(1.1) rotateZ(180deg);
    -webkit-transform: scale(1.1) rotateZ(180deg);
    -moz-transform: scale(1.1) rotateZ(180deg);
}

.cssload-thecube .cssload-c4 {
    transform: scale(1.1) rotateZ(270deg);
    -o-transform: scale(1.1) rotateZ(270deg);
    -ms-transform: scale(1.1) rotateZ(270deg);
    -webkit-transform: scale(1.1) rotateZ(270deg);
    -moz-transform: scale(1.1) rotateZ(270deg);
}

.cssload-thecube .cssload-c2:before {
    animation-delay: 0.35s;
    -o-animation-delay: 0.35s;
    -ms-animation-delay: 0.35s;
    -webkit-animation-delay: 0.35s;
    -moz-animation-delay: 0.35s;
}

.cssload-thecube .cssload-c3:before {
    animation-delay: 0.69s;
    -o-animation-delay: 0.69s;
    -ms-animation-delay: 0.69s;
    -webkit-animation-delay: 0.69s;
    -moz-animation-delay: 0.69s;
}

.cssload-thecube .cssload-c4:before {
    animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -moz-animation-delay: 1.04s;
}

@keyframes cssload-fold-thecube {
    0%, 10% {
        transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-o-keyframes cssload-fold-thecube {
    0%, 10% {
        -o-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -o-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -o-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-ms-keyframes cssload-fold-thecube {
    0%, 10% {
        -ms-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -ms-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -ms-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-fold-thecube {
    0%, 10% {
        -webkit-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-moz-keyframes cssload-fold-thecube {
    0%, 10% {
        -moz-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -moz-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -moz-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

.clickable {
    cursor: pointer;
}

.loader-hidden {
    display: none;
}

.loader-active {
    display: block;
}

/* The default background color is #c00 */
.github-fork-ribbon.right-bottom:before {
    background-color: #090;
}

/*Tablet specific*/
@media (max-width: 1024px) {
    #splash {
        background-image: url("../static/img/background_tablet.jpg"), url("./static/img/background_tablet.jpg");
    }

    #about .content, #howto .content {
        padding: 48px 120px;
        margin: auto;
        max-width: 500px;
    }

    #about-button {
        top: 36px;
        right: 36px;
    }

    #about-xbutton {
        top: 36px;
        right: 36px;
    }

    #main-container #title-group .title_bold {
        font-size: 67px;
        font-weight: 700;
        font-style: normal;

        font-stretch: normal;
        font-variant-caps: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
    }

    #main-container #title-group .title_regular {
        font-size: 36px;
        margin-top: 12px;
        font-weight: 400;
    }
}

/*Mobile specific*/
@media (max-width: 768px) {
    body {
        overflow: scroll !important;
    }

    html {
        position: relative !important;
    }

    a-scene {
        position: relative;
        top: 0;
        left: 0;
    }

    #sceneContainer {
        height:101vh !important;
    }

    #about .content, #howto .content {
        padding: 0 60px;
        margin: auto;
        max-width: none;
    }

    #about .content .about-head {
        padding-top: 28px;
    }

    #about .content .description {
        padding-bottom: 28px;
    }

    #howto .content .description {
        padding-top: 28px;
        padding-bottom: 28px;
    }

    #main-container #title-group .title_bold {
        font-size: 42px;
        font-weight: 700;
        font-style: normal;

        font-stretch: normal;
        font-variant-caps: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
    }

    #main-container #title-group .title_regular {
        font-size: 24px;
        margin-top: 12px;
        font-weight: 400;
    }

    #main-container #title-group {
        padding-top: 10%;
    }

    #polidea-info-container {
        margin: 23px 0 0 23px;
        height: 36px;
        width: 94px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    #enter-container {
        bottom: 20%;
    }

    #about-button {
        top: 23px;
        right: 23px;
    }

    #about #about-xbutton, #howto #about-xbutton {
        top: 24px;
        right: 24px;
    }

    .white-box {
        padding: 5px;
        font-size: 20px;
        max-width: 160px;
    }

}

/*Mobile horizontal*/
@media only screen and (max-width: 768px) and (orientation: landscape) {
    #splash {
        background-image: url("../static/img/background_mobile.jpg"), url("./static/img/background_mobile.jpg");
    }

    #main-container #title-group .title_bold {
        font-size: 36px;
        font-weight: 700;
    }

    #enter-container {
        bottom: 20%;
    }

    #main-container #title-group {
        padding-top: 0px;
    }

    #main-container #title-group .title_regular {
        font-size: 18px;
        margin-top: 0px;
        font-weight: 400;
    }

    #about #about-xbutton, #howto #about-xbutton {
        top: 32px;
        right: 32px;
    }

    #about .content .description, #howto .content .description {
        font-size: 14px;
        font-family: 'Roboto';
    }

    #about a, #howto a {
        font-size: 14px;
    }

    #enter-container .enter-info {
        padding-top: 10px;
    }
}

