#splash {
    z-index: 99999;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    overflow: hidden;

    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(120, 139, 58);

    background-image: url("../static/img/background.jpg"), url("./static/img/background.jpg");

    color: rgba(255, 255, 255, 1);
}

@media screen and (max-aspect-ratio: 1/1) {
    #splash {
        background-image: url("../static/img/background_tablet.jpg"), url("./static/img/background_tablet.jpg");
    }
}

#sceneContainer {
    height: 100%;
}

#scene {
    height: 100%;
    position: absolute;
}

#about {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(120, 139, 58, 0.86)
}

#about .content {
    padding-top: 90px;
    margin: 0 auto;
    max-width: 500px;
}

#about .content .description {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    color: rgba(206, 217, 163, 1);
    text-align: left;
    line-height: 26px;
}

#about .content .about-head {
    font-family: 'Lora';
    font-size: 39px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    text-align: left;
}

#about a {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-align: left;
}

#about #about-xbutton {
    position: absolute;
    top: 48px;
    right: 48px;
    height: 16px;
    width: 16px;
    background-image: url("../static/img/close.svg"), url("./static/img/close.svg");
}

#polidea-info-container {
    margin: 34px 0 0 34px;
    height: 36px;
    width: 94px;
    background-color: rgba(255, 255, 255, 0.8);
}

#polidea-info-container .content {
    padding: 7px 0px 0px 7px;
    height: auto;
    width: 81px;
}

#splash #main-container {
    position: relative;
    margin: 100px auto 0 auto;
    max-width: 500px;
}

#about-button {
    position: absolute;
    top: 39px;
    right: 39px;
    height: 32px;
    width: 32px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 17px;

    display: table;
}

#about-button .image-container {
    vertical-align: middle;
    display: table-cell;
    padding-top: 3px;
    padding-left: 11px;
}

#main-container #title-group {
    width: 100%;

    font-family: 'Lora';
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 100px;
}

#main-container #title-group .title_bold {
    font-size: 67px;
    font-weight: 700;
}

#main-container #title-group .title_regular {
    font-size: 36px;
    margin-top: 12px;
    font-weight: 400;
}

#enter-container {
    position: relative;
    bottom: 10px;
    width: 100%;
}

#enter-container div.center-content {
    margin: 0 auto;
    min-width: 200px;
    max-width: 50%;
}

#enter-container .enter-info {
    padding-top: 24px;
    max-width: 190px;
    margin: 0 auto;

    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    text-decoration: underline;
}

.white-box {
    min-width: 200px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 1);
    box-sizing: border-box;

    font-family: 'Roboto';
    font-size: 24px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

#enter-container #loader-group {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: normal;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

#enter-container #loader-group .description {
    margin-top: 16px;
}

#enter-container #loader-group #loader {
    margin: 0 auto;
    min-width: 50px;
    max-width: 50px;
}

@-webkit-keyframes square-spin {
    25% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
        transform: perspective(100px) rotateX(180deg) rotateY(0);
    }
    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
        transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }
    75% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
        transform: perspective(100px) rotateX(0) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
        transform: perspective(100px) rotateX(0) rotateY(0);
    }
}

@keyframes square-spin {
    25% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
        transform: perspective(100px) rotateX(180deg) rotateY(0);
    }
    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
        transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }
    75% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
        transform: perspective(100px) rotateX(0) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
        transform: perspective(100px) rotateX(0) rotateY(0);
    }
}

.square-spin > div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width: 50px;
    height: 50px;
    background: #fff;
    -webkit-animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
    animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}

.clickable {
    cursor: pointer;
}

.loader-hidden {
    display: none;
}

.loader-active {
    display: block;
}

/* The default background color is #c00 */
.github-fork-ribbon.right-bottom:before {
    background-color: #090;
}

/*Tablet specific*/
@media (max-width: 1024px) {
    #about .content {
        padding: 48px 120px;
        margin: auto;
        max-width: 500px;
    }

    #about-button {
        top: 36px;
        right: 36px;
    }

    #about-xbutton {
        top: 40px;
        right: 40px;
    }

    #main-container #title-group .title_bold {
        font-size: 67px;
        font-weight: 700;
        font-style: normal;

        font-stretch: normal;
        font-variant-caps: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
    }

    #main-container #title-group .title_regular {
        font-size: 36px;
        margin-top: 12px;
        font-weight: 400;
    }
}
    /*Mobile specific*/
    @media (max-width: 768px) {
        #about .content {
            padding: 28px 60px;
            margin: auto;
            max-width: none;
        }

        #main-container  {
margin-top:0;
        }
        #enter-container  {
            margin-bottom:50px;
        }
        #main-container #title-group .title_bold {
            font-size: 42px;
            font-weight: 700;
            font-style: normal;

            font-stretch: normal;
            font-variant-caps: normal;
            font-variant-ligatures: normal;
            font-variant-numeric: normal;
        }

        #main-container #title-group .title_regular {
            font-size: 24px;
            margin-top: 12px;
            font-weight: 400;
        }

        #polidea-info-container {
            margin: 23px 0 0 23px;
            height: 36px;
            width: 94px;
            background-color: rgba(255, 255, 255, 0.8);
        }

        #about-button {
            top: 23px;
            right: 23px;
        }

        #about-xbutton {
            top: 24px;
            right: 24px;
        }

    }

    /*Mobile horizontal*/
    @media only screen and (max-width: 768px) and (orientation: landscape) {
        #main-container #title-group .title_bold {
            font-size: 36px;
            font-weight: 700;
        }

        #splash #main-container  {
            margin:0 auto;
        }
        #enter-container  {
            margin-bottom:10px;
        }
        #main-container #title-group {
            margin-bottom: 30px;
        }

        #main-container #title-group .title_regular {
            font-size: 18px;
            margin-top: 0px;
            font-weight: 400;
        }

        #enter-container .enter-info {
            padding-top: 10px;
        }
    }

